
{% for review in reviews %}
    <tr>
        <td>{{ review.fill }}</td>
    </tr>
{% endfor %}
<a href="{% url 'homepage:review_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>